@font-face {
    font-family: 'Cinzel';
    src: url('../font/Cinzel-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'yekan';
    src: url('../font/IRANYekanMobileRegular.ttf') format('truetype');
}


$font-logo-1: Cinzel;
$font-yekan: 'yekan', sans-serif;