@import "../font";

.footer-con {
    width: 100%;
    background-color: #000;
    border-radius: 20px 20px 0 0;
    margin-top: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-evenly;
    .developer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        p {
            color: #999;
            font-size: .8rem;
            font-family: $font-yekan;
            margin: 5px 0;
            a {
                text-decoration: none;
                color: #eee;
                &:hover {
                    color: #fff;
                    text-shadow: 0 0 1px #fff;
                }
            }
        }
    }
    .version {
        color: #444;
        font-size: 2rem;
        pointer-events: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}
@media screen and (max-width: 500px) {
    .footer-con {
        .developer {
            p {
                font-size: 0.5rem;
                margin: 3px 0;
            }
        }
        .version {
            font-size: 1rem;
        }
    }
}
@media screen and (max-width: 420px) {
    .footer-con {
        padding: 5px;
        .developer {
            p {
                font-size: 0.6rem;
            }
        }
    }
}
