@import "../font";

.musicPlayer {
  position: relative;
  direction: ltr;
  width: 700px;
  height: 150px;
  position: fixed;
  bottom: 0;
  transition: 0.2s ease-in-out;
  background-color: #101010;
  border-radius: 15px 15px 0 0;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-columns: 150px auto;
  overflow: hidden;
  .mpImageCaverCon {
    width: 150px;
    height: 150px;
    object-fit: cover;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    img {
      width: 100%;
      height: 150px;
      border-radius: 15px;
      object-fit: cover;
    }
  }
  .mpContentCon {
    display: flex;
    flex-flow: column nowrap;
    padding: 5px 10px;
    .mpTitle {
      display: flex;
      flex-flow: column wrap;
      p {
        font-family: sans-serif;
      }
      p:nth-child(1) {
        font-size: 16px;
        background-image: linear-gradient(to right, #37ecba 0%, #72afd3 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      p:nth-child(2) {
        font-size: 12px;
        margin-top: 5px;
        color: #009c82;
      }
    }
    .mpProgressArea {
      margin-top: 10px;
      height: 6px;
      width: 100%;
      border-radius: 50px;
      background: #092c29;
      cursor: pointer;
      .progressBar {
        height: inherit;
        width: 0%;
        position: relative;
        border-radius: inherit;
        background-image: linear-gradient(to right, #37ecba 0%, #72afd3 100%);
        &::before {
          content: "";
          position: absolute;
          height: 12px;
          width: 12px;
          border-radius: 50%;
          top: 50%;
          right: -5px;
          z-index: 2;
          opacity: 0;
          pointer-events: none;
          transform: translateY(-50%);
          background: inherit;
          transition: opacity 0.2s ease;
        }
      }
      .song-timer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        span {
          background-image: linear-gradient(to right, #37ecba 0%, #72afd3 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 13px;
        }
      }
      &:hover .progressBar::before {
        opacity: 1;
        pointer-events: auto;
      }
    }
    .music__list {
      position: absolute;
      width: 100%;
      height: 0;
      overflow: hidden;
      bottom: 0;
      right: 0;
      background-color: #101010;
      transition: height 0.1s ease-in-out;
      z-index: 3;
      .music__close {
        position: absolute;
        top: 5px;
        right: 10px;
        button {
          width: 20px;
          height: 20px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background: #f94144;
          border: none;
          outline: 0;
          opacity: 80%;
          cursor: pointer;
          &:hover {
            opacity: 100%;
          }
          svg {
            width: 12px;
            height: 12px;
            fill: #fff;
          }
        }
      }
      .music__content {
        width: 100%;
        height: 100%;
        background: #101010;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 10px;
        }
        &::-webkit-scrollbar-track {
          border: 6px solid #000;
        }
        &::-webkit-scrollbar-thumb {
          background: #333;
          height: 70px;
          border-radius: 5px;
          &:hover {
            background: #222;
          }
        }
        .music__itames {
          display: grid;
          grid-template-columns: auto auto auto;
          list-style: none;
          .music__itame {
            cursor: pointer;
            padding: 10px;
            &:nth-child(even) {
              background-color: rgb(25, 25, 25);
            }
            &:nth-child(odd) {
              background-color: rgb(10, 10, 10);
            }
            .music__number {
              font-size: 14px;
              color: #00ffd5;
            }
            .music__title {
              font-size: 12px;
              color: #00b698;
              display: block;
            }
            .music__artist {
              font-size: 10px;
              color: #00806a;
            }
            &:hover .music__title {
              color: #00ffd5;
            }
            &:hover .music__artist {
              color: #00b698;
            }
          }
          .isPlayMusic {
            .music__title {
              color: #00ffd5;
            }
            .music__artist {
              color: #00b698;
            }
          }
        }
      }
    }
    .music__list.show {
      height: 100%;
    }
  }
  .mpControlsCon {
    width: 100%;
    height: 50px;
    margin-top: 5px;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 100px;
    .control {
      display: flex;
      justify-content: space-around;
      align-items: center;
      i {
        font-size: 28px;
        cursor: pointer;
        user-select: none;
        background-image: linear-gradient(to right, #37ecba 0%, #72afd3 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 80%;
        &:nth-child(2),
        &:nth-child(4) {
          font-size: 28px;
        }
        &:hover {
          opacity: 100%;
        }
      }
      .play-pause {
        height: 40px;
        width: 40px;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        i {
          font-size: 40px;
        }
      }
    }
    .audioVolume {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      input {
        width: 100px;
        height: 7px;
        margin-top: 15px;
        -webkit-appearance: none;
        background: #092c29;
        border-radius: 50px;
        outline: none;
      }
      input::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-image: linear-gradient(to right, #37ecba 0%, #72afd3 100%);
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .musicPlayer {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .musicPlayer {
    grid-template-columns: 85px auto;
    .mpImageCaverCon {
      width: 85px;
      height: 85px;
      img {
        height: 85px;
      }
    }
    .mpContentCon {
      display: flex;
      flex-flow: column nowrap;
      padding: 5px 10px;
      .mpTitle {
        p:nth-child(1) {
          font-size: 14px;
        }
        p:nth-child(2) {
          font-size: 10px;
        }
      }
    }
    .mpControlsCon {
      width: 100%;
      height: 50px;
      margin-top: 5px;
      overflow: hidden;
      display: grid;
      grid-template-columns: auto 70px;
      .control {
        display: flex;
        justify-content: space-around;
        align-items: center;
        i {
          font-size: 20px;
          &:nth-child(2),
          &:nth-child(4) {
            font-size: 20px;
          }
          &:hover {
            opacity: 100%;
          }
        }
        .play-pause {
          height: 40px;
          width: 40px;
          i {
            font-size: 30px;
          }
        }
      }
      .audioVolume {
        input {
          width: 70px;
          height: 7px;
          margin-top: 15px;
        }
      }
    }
  }
}
